@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;800&display=swap");

body {
  background: url("https://github.com/jhonatancassante/imgs/raw/main/skylines.png")
      no-repeat fixed center,
    linear-gradient(180deg, #00004d 20.26%, #e62e00 96.03%);
  background-size: 101%;
  background-position: bottom;
  font-family: "Gemunu Libre", sans-serif;
  min-height: 500px;
}

.container {
  background: #f0e6ff;
  box-shadow: 10px 10px 20px #262626;
  border-radius: 20px;
  padding: 32px;
  margin: 64px;
  color: #000033;
  border: 2px solid #140033;
}

.perfil {
  display: flex;
  align-items: center;
}

.img-perfil {
  border-radius: 400px;
  max-height: 160px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.titles {
  margin-left: 16px;
}

.titles h1 {
  font-size: 36px;
  font-weight: 800;
}

.titles h3 {
  font-size: 24px;
  font-weight: 400;
}

.projetos {
  display: flex;
  flex-direction: column;
  align-items: left;
}

/*
Desafios desta aula!
Terminar todo o design que está no figma (disponível abaixo)
Adicionar suas redes sociais de forma que quem clique consiga abrí-las
*/